#jdbc.url=jdbc:sqlite:/home/andrei/GitHub/mpp-proiect-repository-AndreiMalea/LabJavaClientServer/databases/Festivals.db
#jdbc.url=jdbc:sqlite:/home/andrei/Projects/Java/LabJavaClientServer/databases/Festivals.db
jdbc.url=jdbc:sqlite:/home/andrei/GitHub/mpp-proiect-repository-AndreiMalea/LabJavaClientServer2/databases/Festivals.db
